<footer>
    <div class="footer-container">
      <div class="footer-links">
        <ul>
            <li><a href="recipes/homepage">Home</a></li>
            <li><a href="recipes/about">About</a></li>
        </ul>
      </div>
      <div class="footer-copyright">
        <p>Copyright © 2023 RecipeHub. All rights reserved.</p>
      </div>
    </div>
  </footer>