<footer>
    <div class="footer-container">
      <div class="footer-links">
        <ul>
            <li><a href="/homepage">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
      </div>
      <div class="footer-copyright">
        <p>Copyright © 2023 KitchenConnect. All rights reserved.</p>
      </div>
    </div>
  </footer>