<header>
    <div class="header-container">
      <div class="logo">
        <a href="recipes/homepage">KitchenConnect</a>
      </div>
      <nav class="menu">
        <ul>
          <li><a href="/homepage">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="recipe/signup">Signup/Login</a></li>
          <li><a href="recipe/login">Signup/Login</a></li>
        </ul>
      </nav>
      <div class="search-container">
        <form id="search-form">
          <input type="text" id="search-input" placeholder="Search for a recipe...">
          <button type="submit" id="search-button">Search</button>
        </form>
      </div>
    </div>
  </header>