<header>
  <div class="header-container">
    <div class="logo">
      <a href="/homepage">
        <img src="https://i.ibb.co/n3Gwp8W/logo-Kitchen-Connect.png" alt="KitchenConnect App Logo">
      </a>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="/homepage">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/recipe">Recipes</a></li>
      </ul>
    </nav>
  </div>
</header>