<header>
  <div class="header-container">
    <div class="logo">
      <a href="/homepage">
        <img src="/images/Logo_KitchenConnect.png" alt="KitchenConnect App Logo">
      </a>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="/homepage">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="recipe/signup">Signup</a></li>
        <li><a href="recipe/login">Login</a></li>
      </ul>
    </nav>
  </div>
</header>