<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', { title: "About | KitchenConnect"}) %>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <section class="about-section">
          <h1>About KitchenConnect</h1>
          <div class="about-content">
            <p>KitchenConnect is a platform that connects people through the love of cooking and sharing recipes. Our mission is to make it easy for everyone, from beginners to seasoned chefs, to find, create, edit, share, and rate recipes, as well as connect with others who share their passion for cooking.</p>
    
            <h2>Our Story</h2>
            <p>Founded in 2023 by a group of food enthusiasts: Mustafa Cevik, Dolores Crazover and Kelli Simon. KitchenConnect was born out of a desire to make the world of cooking more accessible and enjoyable. We noticed that the process of finding and trying new recipes was often complicated, with many websites offering inconsistent and untested recipes. We wanted to change that and create a one-stop platform that combines a powerful search engine with a friendly and supportive community of cooks.</p>

            <div class="founders-images">
                <img src="path/to/first-image-mustafa-cevik.jpg" alt="First founder image of Mustafa Cevik" width="200" height="200">
                <img src="path/to/second-image-dolores_crazover.jpg" alt="Second founder image of Dolores Crazover" width="200" height="200">
                <img src="path/to/third-image-kelli-simon.jpg" alt="Third founder image of Kelli simon" width="200" height="200">
              </div>
    
            <h2>What KitchenConnect Offers</h2>
            <ul>
                <li>Vast collection of recipes from around the world</li>
                <li>User-friendly interface for easy browsing and searching</li>
                <li>Ability to add, edit, and delete recipes</li>
                <li>Rate and review recipes, helping others find the best dishes to try</li>
                <li>Personalized experience with favorite recipes lists</li>
                <li>Share their own recipes and cooking tips with the community</li>
                <li>Leave comments on recipes for feedback and community interaction</li>
                <li>Collaborative environment with a passionate community of food lovers</li>
                <li>Connect with other cooking enthusiasts to exchange ideas and inspiration</li>
            </ul>
    
            <h2>Join Us Today!</h2>
            <p>Whether you're a cooking novice or a culinary master, KitchenConnect is the perfect platform to share your love for food and connect with others who share your passion. <a href="recipe/signup">Sign up today</a> and start your journey with KitchenConnect!</p>
          </div>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>