<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', { title: "Homepage | KitchenConnect"}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="hero">
          <h1>Welcome to KitchenConnect</h1>
          <p>Discover, create, and share delicious recipes from around the world.</p>
          <a href="recipe/signup" class="cta-button">JOIN US TODAY!</a>
          <img class="main-pic-hp" src="/images/image_homepage_2.jpeg" alt="Happy young woman making a salad at the kitchen">
        </section>
        

        <div class="search-container">
          <form class="search-form-hp" id="search-form">
              <input type="text" placeholder="Search For Your Recipe...">
              <ion-icon name="search-circle" class="search-icon"></ion-icon>
          </form>
        </section>

        <section class="featured-recipes">
          <h2>Featured Recipes</h2>
          <div class="recipe-grid">
            <!-- Recipe Card 1 -->
            <a class="a-card-recipe" href="https://www.recipesfromitaly.com/penne-alla-vodka/"> 
            <div class="recipe-card">
              <img src="/images/image_test_homepage_card4.jpeg" alt="Classic Penne all Vodka. Italian ziti pasta covered in sauce garnished with a sprig of basil. White plate and napkin.">
              <div class="recipe-info">
                <h3>Classic Penne all Vodka</h3>
                <p>Italian ziti pasta covered in sauce garnished with a sprig of basil.</p>
                <div class="recipe-rating">4.5 stars</div>
              </div>
            </div>
            </a>
          
            <!-- Recipe Card 2 -->
            <a class="a-card-recipe" href="https://www.recipesfromitaly.com/penne-alla-vodka/"> 
            <div class="recipe-card">
              <img src="/images/image_test_homepage_card4.jpeg" alt="Classic Penne all Vodka. Italian ziti pasta covered in sauce garnished with a sprig of basil. White plate and napkin.">
              <div class="recipe-info">
                <h3>Classic Penne all Vodka</h3>
                <p>Italian ziti pasta covered in sauce garnished with a sprig of basil.</p>
                <div class="recipe-rating">4 stars</div>
              </div>
            </div>
            </a>
          
            <!-- Recipe Card 3 -->
            <a class="a-card-recipe" href="https://www.recipesfromitaly.com/penne-alla-vodka/"> 
            <div class="recipe-card">
              <img src="/images/image_test_homepage_card4.jpeg" alt="Recipe image 3">
              <div class="recipe-info">
                <h3>Classic Penne all Vodka</h3>
                <p>Italian ziti pasta covered in sauce garnished with a sprig of basil.</p>
                <div class="recipe-rating">4.7 stars</div>
              </div>
            </div>
            </a>
          
            <!-- Recipe Card 4 -->
            <a class="a-card-recipe" href="https://www.recipesfromitaly.com/penne-alla-vodka/"> 
            <div class="recipe-card">
              <img src="/images/image_test_homepage_card4.jpeg" alt="Classic Penne all Vodka. Italian ziti pasta covered in sauce garnished with a sprig of basil. White plate and napkin.">
              <div class="recipe-info">
                <h3>Classic Penne all Vodka</h3>
                <p>Italian ziti pasta covered in sauce garnished with a sprig of basil.</p>
                <div class="recipe-rating">5 stars</div>
              </div>
            </div>
            </a>
          </div>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>