<%- include('../partials/header') %>
    <div class="row recipe-hero py-4 mb-4">
        <div class="col-lg-6 order-lg-last">
            <img src="https://st2.depositphotos.com/3889193/7173/i/450/depositphotos_71739083-stock-photo-healthy-vegetarian-home-made-food.jpg" width="607" height="510" class="img-fluid" alt="Recipe Hub">
        </div>
        <div class="col-lg-6">
            <h1 class="recipe-title mb-3">Discover new flavors with our wide range of recipes!</h1>
            <p class="recipe-subtitle">Welcome to our recipe website, where you can find a vast collection of delicious and easy-to-follow recipes.</p>
        </div>
    </div>
    <section>
        <main>
        </main>
        <br /><br />
    </section>
    <%- include('../partials/footer') %>