<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', { title: "Home Page | KitchenConnect" }) %>

    <body>
        <%- include('../partials/header') %>
            <div class="row-recipe-hero-py-4-mb-4">
                <div class="col-lg-6-order-lg-last">
                    <img src="./images/image_banner_index.jpeg" width="607" height="510" class="img-fluid"
                        alt="KitchenConnect">
                </div>
                <div class="col-lg-6">
                    <h1 class="recipe-title mb-3">Discover new flavors with our wide range of recipes!</h1>
                    <p class="recipe-subtitle">Welcome to our recipe website, where you can find a vast collection of
                        delicious and easy-to-follow recipes.</p>
                </div>
            </div>
            <section>
                <main>
                    <div class="search-container">
                        <form id="search-form">
                            <input type="text" placeholder="Search For Your Recipe...">
                            <ion-icon name="search-circle" class="search-icon"></ion-icon>
                            <a href='/recipe/new'>Add new Recipe</a></h3>
                        </form>
                        <div class=search-result>
                            <div class="element">
                                <img src="./images/image_index.jpeg" alt="meal with salmon">
                                <div class="flex-container">
                                    <h1 class="title">This is a recipe</h1>
                                    <a id=view-button href="#">View Recipe</a>

                                </div>
                                <p class="element-data-1">Nutriments: Glucids, proteins, Fer</p>
                                <p class="element-data-2">Cuisine Type: American</p>
                                <p class="element-data-3">Calories: 160</p>
                            </div>

                            <div class="element">
                                <img src="./images/image_index.jpeg" alt="meal with salmon">
                                <div class="flex-container">
                                    <h1 class="title">This is a recipe</h1>
                                    <a id=view-button href="#">View Recipe</a>
                                </div>
                                <p class="element-data-1">Nutriments: Glucids, proteins, Fer</p>
                                <p class="element-data-2">Cuisine Type: American</p>
                                <p class="element-data-3">Calories: 160</p>
                            </div>
                            <div class="element">
                                <img src="./images/image_index.jpeg" alt="meal with salmon">
                                <div class="flex-container">
                                    <h1 class="title">This is a recipe</h1>
                                    <a id=view-button href="#">View Recipe</a>
                                </div>
                                <p class="element-data-1">Nutriments: Glucids, proteins, Fer</p>
                                <p class="element-data-2">Cuisine Type: American</p>
                                <p class="element-data-3">Calories: 160</p>
                            </div>
                        </div>
                    </div>
                </main>
                <br /><br />
            </section>
            <%- include('../partials/footer') %>
                <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
                <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>

</html>