<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: "Create a new recipe"}) %>
    <body>
        <%- include('../partials/header.ejs') %>
        <div class="newpage-container-image">
            <img id="image-happy-cookers" src="/images/image_newpage.jpeg" alt="three photos, one with a smiling white man holding a trumpet standing in front of a computer writing a song, another photo with a smiling black man showing his new song to a smiling white woman and the third photo, a group of friends from different ethnicities who got together to discover their friend's new song" class="newpage-container-image">
        </div>
        <section>
            <main>


















            </main>
            <br /><br />
        </section>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>